.textarea-container {
  position: relative;
  width: 100%;
}

.textarea-container textarea {
  width:  100%;
  height: 140px;
  padding: 12px;
  font-size: 14px;
  color: #1f2937;
  border: 1px solid #cbd5e1;
  border-radius: 6px;
  outline: none;
  resize: none;
  background: white;
  transition: 0.2s;
}

.textarea-container textarea::placeholder {
  color: transparent;
}

.textarea-container textarea:focus::placeholder {
  color: #9ca3af;
}

.textarea-container label {
  position: absolute;
  left: 12px;
  top: -10px;
  background: white;
  padding: 0 5px;
  font-size: 12px;
  color: #6b7280;
  font-weight: 500;
  transition: 0.2s ease;
  pointer-events: none;
}

.textarea-container textarea:placeholder-shown + label {
  top: 12px;
  font-size: 14px;
}

.textarea-container textarea:focus + label {
  top: -10px;
  font-size: 12px;
}

.required {
  color: red;
}

.char-count {
  margin-top: 5px;
  font-size: 11px;
  font-weight: 500;
  color: black;
}

.textarea-container textarea.error {
  border: 1px solid #dc2626;
  box-shadow: 0 0 0 1px #dc2626;
}
